
@{
    ViewData["Title"] = "Registation";
}

<head>
    <meta charset="utf-8">
    <title>Логин</title>
    <link rel="stylesheet" href="~/css/Registration.css">
</head>


<body>

    <div class="container">
        <div class="form">
            <h2>Регистрация</h2>
            <form>
                <div class="inputBox">
                    <input type="text" placeholder="Имя">
                </div>
                <div class="inputBox">
                    <input type="text" placeholder="Фамилия">
                </div>
                <div class="inputBox">
                    <input type="" placeholder="Е-мейл">
                </div>
                <div class="inputBox">
                    <input type="" placeholder="Номер телефона">
                </div>
                <div class="inputBox">
                    <input type="password" placeholder="Пароль">
                </div>
                <div class="inputBox">
                    <input type="submit" value="Зарегестрироваться">
                </div>
                <p>Есть аккаунт? <a href="#">Нажмите сюда</a></p>
            </form>
        </div>
    </div>


</body>

